%h1 Bets Stock

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @bets_stock.each do |bet|
      %tr
        %td= bet.name
        %td= link_to 'Show', bet
        %td= link_to 'Accept bet', accept_path(:id => bet.id), :method => :put, :data => { :action => 'accept_bets', :confirm => 'Are you sure?' }

%br

= link_to 'New Bet', new_bet_path