%h1 Bets Stock

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @bets_stock.each do |bet|
      %tr
        %td= bet.name
        %td= link_to 'Show', bet
        %td= button_to 'Accept bet'

%br

= link_to 'New Bet', new_bet_path