%h1 Selleo Bets History

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - bets.each do |bet|
      %tr
        %td= bet.name
        %td= link_to 'Show', bet
%br

= link_to 'New Bet', new_bet_path
