%h1 Bets Stock

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - bets.each do |bet|
      %tr
        %td= bet.name
        %td= link_to 'Show', bet
        %td= link_to 'Accept bet', bet_acceptances_path(bet),method: :post, data: {confirm: 'Are you sure?' } if bet.can_be_accepted_by?(current_user)

%br

= link_to 'New Bet', new_bet_path