<%# add navigation links to this file %>
<% if user_signed_in? %>
   <p class="navbar-brand">Signed as <%= current_user.name %> <%= link_to 'Sign out', signout_path %></p>
<% else %>
  <%= link_to 'Sign in', signin_path %>
<% end %>
